body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 13px;
}

.day {
    display: inline-block;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
}

#sub1 {
    width: 33%;
}

